html {
    background-color:#E0F1E1;
}

.thead {
    align-items: center;
}
h1{
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}